body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    max-width: 1200px;
}

.illustration {
    flex: 1;
}

.illustration img {
    width: 100%;
    height: auto;
}

.login-form {
    flex: 1;
    background-color: #e0f7fa;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin-left: 20px;
}

.login-form h1 {
    color: #8e24aa;
    text-align: center;
    margin-bottom: 20px;
}

.login-form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #8e24aa;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #7b1fa2;
}

.login-form p {
    text-align: center;
    margin-top: 10px;
}

.login-form a {
    color: #8e24aa;
    text-decoration: none;
}

.login-form a:hover {
    text-decoration: underline;
}
